/*-------------
 	Font
-------------*/

@font-face {
    font-family: 'pablo_webfont';
    src: url('../fonts/webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/*-------------
 	Animation
-------------*/

.animated {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.delay {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
}
  
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes fadeInUp {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
}
  
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-moz-selection {
	background:transparent;
}

::selection {
	background:transparent;
}

html{
	font-family: "pablo_webfont", sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #fff;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center; 
}


/*----------------
 	Main Section
----------------*/

.logo, .stripe-container {
	position: absolute;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.logo {
	z-index: -7777;
}

.stripe-container {
	z-index: -8888;
}

.logo .pablo-logo {
	width: 25vw;
}

.stripe {
	width: 100%;
	height: 100%;
	background: url('../img/pablo_stripe.svg') no-repeat;
	background-size: 100% 100%;
}

.main {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	max-height: 100vh;
	color: #fff;
	text-align: center;
	z-index: 8888;
}


.background-video {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all ease 1s;
	-moz-transition: all ease 1s;
}

.background-video.mobile {
	display: none;
}

.top {
	height: 40vh !important;
}

h1 {
	font-family: "pablo_webfont", sans-serif;
	font-size: 38px;
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: .3em;
}

h3 {
	font-family: "pablo_webfont", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: .05em;
}


/*-------------------
 	Footer Section
-------------------*/

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 50px;
	text-align: center;
	z-index: 9999;
}

.footer p {
	font-family: "pablo_webfont", sans-serif;
	font-size: 12px;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.footer h3 {
	margin-bottom: 10px;
}

.social-icon {
	display: inline-block;
	position: relative;
}

.social-icon svg {
	fill: #000;
	width: 24px;
	height: 24px;
	display: block;
    margin: 0 auto;
}

.social-icon:hover svg {
	fill: #000;
}


/*-------------------
 	Responsive
-------------------*/

@media (max-width: 800px){
	.logo .pablo-logo {
		width: 60vw;
	}

	.stripe {
		max-height: 300px;
	}

	.background-video {
		display: none;
	}

	.background-video.mobile {
		display: flex;
	}

	.main {
		z-index: -9999 !important;
	}

	.logo, .footer {
		z-index: 9999 !important;
	}

	.stripe-container {
		z-index: 1 !important;
	}
}

@media (max-width: 600px){
	.social-icon svg {
		width: 20px;
		height: 20px;
	}

	h3 {
		font-size: 14px;
	}

	.footer {
		padding: 30px 10px;
	}

	.logo .pablo-logo {
		width: 70vw;
	}

	.stripe {
		height: 40vw;
	}

	.top {
		height: 35vh !important;
	}
}

@media (max-width: 320px){
	h3 {
		font-size: 12px;
	}
}
